# --- Base de Datos PostgreSQL (Usadas para construir el contenedor DB) ---
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password
POSTGRES_DB=your_db_name

# --- PGAdmin ---
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin

# --- Tu Backend (FastAPI, Auth, etc) ---
# Esta sirve por si levantas usando `uvicorn` sin docker en local
DATABASE_URL=postgresql://your_db_user:your_db_password@localhost:5434/your_db_name

# JWT
JWT_SECRET=your_super_secret_jwt_key
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# FastAPI
DEBUG=True
API_HOST=0.0.0.0
API_PORT=8000